{% extends 'base.html' %}

{% block title %}
My Invites
{% endblock title %}

{% block content %}
{% if not is_empty %}
    <h3>You received requests from</h3>
{% else %}
    <h2>No request from anybody</h2>
{% endif %}
<ul>
    {% for obj in qs %}
        <div class="ui segment">
            <div class="ui grid">
                <div class="row">
                    <div class="three wide column">
                        <img src={{obj.avatar.url}} alt="" class="ui small circular image">
                    </div>
                    <div class="thirteen wide column">
                        <h3 class="clr-txt">{{obj.user}}</h3>
                        <p class="clr-obsidian">{{ obj.bio }}</p>
                        <a href="{{ obj.get_absolute_url }}">
                            <button class="ui primary button w-big mb-5">See Profile</button>
                        </a>
                        
                        <form action="{% url 'profiles:accept-invite' %}" method="POST" class="ui form">
                            {% csrf_token %}
                            <input type="hidden" name='profile_pk' value="{{ obj.pk }}">
                            <button type="submit" class="ui green button mb-5 w-big" > <i class="check icon"></i> Accept</button>
                        </form>
                        
                        <form action="{% url 'profiles:reject-invite' %}" method="POST" class="ui form">
                            {% csrf_token %}
                            <input type="hidden" name='profile_pk' value="{{ obj.pk }}">
                            <button type="submit" class="ui red button mb-5 w-big"> <i class="close icon"></i> Reject</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</ul>

{% endblock content %}

